


<div class="alert alert-light" role="alert">
  <h1>Welcome to Traveller</h1>
    <p>Plan, blog and share your adventures<p>
</div>

<!-- <p>Plan, blog and share your adventures</p> -->

<% if @current_user.present? %>
  <h2> Welcome <%= @current_user.name %></h2>
<% end %>

