body {
  background-color: aliceblue;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.thumb {
  height: 12em;
}

.feature {
  max-height: 30em;
  max-width: 100%;
}

#map {
/* position: fixed; */
left: 0;
right: 0;
width: 100%;
border: 3px solid green;
padding-top: 10%;
min-height: 90vh
}

.marker {
  background-image: url('mapbox-marker-icon-20px-blue.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
   text-align: center;
   font-family: 'Open Sans' sans-serif;
}

.journey {
right: 0px;
position: static;
}

.journey-scroll {
    height: 95vh;
    overflow-y: scroll;
    padding-bottom: 30px;
}
