
body {
  min-height: 100vh;
}

body.pages.home {
/* background-color: aliceblue; */
/* background-image:url("/assets/background/atlas.jpg"); */
/* background-image:url("/assets/background/earth.jpg"); */
/* background-image:url("/assets/background/ice.jpg");  */
 background-image:url("/assets/background/road.jpg");
 background-size: cover;
 background-repeat: no-repeat;

}

body.journeys.index {
background-color: aliceblue;
}

body.journeys.new {
background-color: aliceblue;
}

body.journeys.show {
background-color: aliceblue;
}

body.users.index {
background-color: aliceblue;

}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.thumb {
  width: 12em;
}

.change {
  display: inline-block;
}

.feature {
  max-height: 30em;
  max-width: 100%;
}

ul {
    margin: 2px; /* To remove default bottom margin */
    padding: 0; /* To remove default left padding */
}

.controls {
display: flex;
flex-wrap: wrap;
gap: 10px;
padding-bottom: 5%
}


.bold {
font-weight: 800;
}


#map {
left: 0;
right: 0;
width: 100%;
border: 3px solid green;
padding-top: 10%;
min-height: 90vh
}


.step-info {
list-style: none;
}

.marker {
  background-image: url('mapbox-marker-icon-20px-blue.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
   text-align: center;
   font-family: 'Open Sans' sans-serif;
}

.journey {
right: 0px;
position: static;
}

.journey-scroll {
    height: 95vh;
    overflow-y: scroll;
    padding-bottom: 30px;
}
