body {
  background-color: aliceblue;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.thumb {
  height: 12em;
}

.feature {
  max-height: 30em;
}

#map {
position: absolute;
top: 60%;
bottom: 0;
width: 50%;
}

.marker {
  background-image: url('mapbox-marker-icon-20px-blue.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
   text-align: center;
   font-family: 'Open Sans' sans-serif;
}
